<div class="outlet-container" rhinovScrollableContainer>
  <div class="vertically-scrollable-content" #scrollableContent>
    <div class="background">
      <div class="container" *ngIf="shuffledCards$ | async as shuffleCards">
        <rhinov-shopping-grid-desktop
          [shuffledCards]="shuffleCards"
          (advertiseClick)="onAdvertisingCardClick($event)"
          (shopItemClick)="onShoppingListDetailsObject($event)"
          (designTipsClick)="onDesignTipsClick($event)"
        ></rhinov-shopping-grid-desktop>
      </div>
    </div>
  </div>
</div>
