@import 'libs/shared/styles/src/lib/colors';

.item-with-button {
  position: relative;
  rhinov-open-product-button {
    display: none;
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
  }

  &:hover {
    &:before {
      display: block;
      background: $color-darkgrey;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      position: absolute;
      opacity: 0.13;
    }

    rhinov-open-product-button {
      display: flex;
      place-content: center;
      align-items: center;
    }
  }
}

.shopping-list {
  height: 100%;

  padding-bottom: 86px;

  ::ng-deep .slick-dots {
    bottom: -18px;
    li {
      button:before {
        content: '';
        background: $color-darkgrey;
        border-radius: 50%;
        width: 9px;
        height: 9px;
        top: 3px;
      }

      &.slick-active {
        button:before {
          background: #ceb48f;
          width: 15px;
          height: 15px;
          top: 0px;
        }
      }
    }
  }

  &__container {
    max-width: 1200px;
    margin: auto;
    position: relative;
    height: 100%;

    &--bloc {
      display: grid;
      grid-auto-flow: dense;
      grid-template-columns: 150px 150px;
      justify-content: center;
      grid-gap: 8px;

      ::ng-deep .ads {
        img {
          width: auto;
          max-height: 180px !important;
        }
      }

      ::ng-deep .slick-dots {
        bottom: -27px;
      }

      &__items {
        text-align: center;
      }

      @media screen and (min-width: 375px) {
        .shopping-list {
          margin: 0 50px;
        }

        justify-content: center;
        grid-template-columns: 167px 167px;
        grid-gap: 11px;

        ::ng-deep .ads {
          img {
            width: auto;
            max-height: 207px !important;
          }
        }
      }

      @media screen and (min-width: 600px) {
        justify-content: center;
        grid-template-columns: 274px 274px;
        grid-gap: 21px;

        ::ng-deep .ads {
          img {
            width: auto;
            max-height: 207px !important;
          }
        }
      }

      @media screen and (min-width: 991px) {
        justify-content: center;
        grid-template-columns: 274px 274px 274px;
        grid-gap: 21px;
        ::ng-deep .ads {
          img {
            width: auto;
            max-height: 313px !important;
          }
        }
        ::ng-deep .slick-dots {
          bottom: -38px;
        }
      }
      @media screen and (min-width: 1440px) {
        ::ng-deep .slick-dots {
          bottom: -38px;
        }

        grid-template-columns: 274px 274px 274px 274px;
        grid-gap: 21px;
        ::ng-deep .ads {
          img {
            width: auto;
            max-height: 313px !important;
          }
        }
        @media screen and (min-width: 1500px) {
          grid-template-columns: 274px 274px 274px 274px;
        }
      }
    }
  }

  .ads {
    grid-column: span 2;
  }
}

.shop-tips-card {
  ::ng-deep .articles-container {
    @media screen and (max-width: 375px) {
      width: 169px;
      height: 197px;
    }
    @media screen and (min-width: 376px) {
      width: 272px;
      height: 312px;
    }

    .thumbnail {
      flex: 0 0 50%;
      height: 50%;
    }

    .panel {
      padding: 0 22px 7px 22px;
      height: 50%;

      .author {
        transform: translateY(-14px);

        .avatar {
          width: 51px;
          height: 49px;
        }

        .name {
          @media screen and (max-width: 375px) {
            font-size: 16px !important;
            line-height: 22px !important;
          }

          margin-top: 20px;
          margin-left: 11px;
        }
      }

      .title {
        @media screen and (max-width: 375px) {
          font-size: 14px !important;
          line-height: 16px !important;
        }
      }

      .tips-text {
        @media screen and (max-width: 375px) {
          font-size: 12px !important;
          line-height: 14px !important;

          height: 28px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .shopping-list {
    margin: 0 5px;
  }
}
