<div class="shopping-list">
  <div class="shopping-list__all-content">
    <div class="shopping-list__container">
      <div class="shopping-list__container--bloc">
        <ng-container *ngIf="shuffledCards">
          <div
            [ngClass]="{ ads: shopItem.type === 'ads' || shopItem.type === 'ads-array' }"
            *ngFor="let shopItem of shuffledCards; let i = index"
          >
            <div class="item-with-button" *ngIf="shopItem.type === 'shop'">
              <rhinov-open-product-button
                (shoppingListDetailsObjectAction)="onShoppingListDetailsObject(shopItem.shopItem)"
                gaEvent="productClick"
                [gaProps]="
                  {
                    ecommerce: {
                      click: {
                        actionField: { list: 'my_Shoppinglist' },
                        products: [
                          {
                            id: shopItem.shopItem?.id,
                            name: shopItem.shopItem?.name,
                            brand: shopItem.shopItem?.manufacturer,
                            position: 'slot' + (i + 1),
                            category: 'Furniture'
                          }
                        ]
                      }
                    }
                  } | json
                "
              >
              </rhinov-open-product-button>
              <rhinov-shop-item
                [thumbnailPath]="shopItem.shopItem!.thumbnailPath"
                [price]="shopItem.shopItem!.price.current"
                [previousPrice]="shopItem.shopItem!.price.previous"
                [discountInPercentage]="shopItem.shopItem!.price.discountInPercentage"
                [currency]="shopItem.shopItem!.price.currency"
                [name]="shopItem.shopItem!.name"
                [logoPath]="shopItem.shopItem!.logoPath"
                [affiliation]="shopItem.shopItem!.affiliation"
                [isSubstitute]="shopItem.shopItem!.isSubstitute"
              >
              </rhinov-shop-item>
            </div>

            <div *ngIf="shopItem.type === 'ads'">
              <rhinov-advertising-card
                class="card"
                [data]="convertAdCard(shopItem.adsCard)"
                (cardAction)="onAdvertisingCardClick($event, true)"
                gaEvent="promotionClick"
                [gaProps]="
                  {
                    ecommerce: {
                      promoClick: {
                        promotions: [
                          {
                            id: i + 1,
                            name: 'my_project_footer',
                            creative: 'banner_' + (shopItem.adsCard?.linkText || ''),
                            position: 'slot' + (i + 1)
                          }
                        ]
                      }
                    }
                  } | json
                "
              >
              </rhinov-advertising-card>
            </div>

            <div *ngIf="shopItem.type === 'article'" class="shopping-list__container--bloc__items">
              <rhinov-tips-card
                class="shop-tips-card"
                [data]="convertTips(shopItem?.article)"
                (cardAction)="onDesignTipsClick(shopItem.article)"
              >
              </rhinov-tips-card>
            </div>

            <div *ngIf="shopItem.type === 'ads-array'">
              <ngx-slick-carousel
                class="special-offers"
                #slickModal="slick-carousel"
                [config]="slideConfig"
                (mousedown)="onAdvertisingCardMouseDown($event)"
                (mouseup)="onAdvertisingCardMouseUp($event)"
              >
                <div class="card" ngxSlickItem *ngFor="let advertisingItem of shopItem.adsCards">
                  <rhinov-advertising-card
                    class="card"
                    [data]="convertAdCard(advertisingItem)"
                    (cardAction)="onAdvertisingCardClick($event)"
                    gaEvent="promotionClick"
                    [gaProps]="
                      {
                        ecommerce: {
                          promoClick: {
                            promotions: [
                              {
                                id: i + 1,
                                name: 'my_project_footer',
                                creative: 'banner_' + (advertisingItem?.linkText || ''),
                                position: 'slot' + (i + 1)
                              }
                            ]
                          }
                        }
                      } | json
                    "
                  >
                  </rhinov-advertising-card>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
