<div fxLayout="column" fxLayoutAlign="center center" class="burger-menu">
  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="38px">
    <rhinov-menu-action-button
      class="action-button"
      *ngIf="isProjectOwner$ | async"
      [iconPath]="'/assets/icons/symbols-icons-24-type-hover.svg'"
      [text]="'Mes projets déco'"
      (buttonAction)="onMyRoomsHandler()"
      [tabIndex]="41"
      id="my-rooms"
    >
    </rhinov-menu-action-button>
    <rhinov-menu-action-button
      class="action-button"
      *ngIf="isRateMyProjectButtonVisible$ | async"
      [iconPath]="'/assets/icons/symbols-icons-16-star-hover.svg'"
      [text]="'Noter mon projet'"
      (buttonAction)="onRateMyProjectHandler()"
      [tabIndex]="42"
      id="rate-project"
    >
    </rhinov-menu-action-button>
    <rhinov-menu-action-button
      class="action-button"
      *ngIf="isProjectOwner$ | async"
      [iconPath]="'/assets/icons/symbols-icons-16-message-hover.svg'"
      [text]="'Besoin d’aide'"
      (buttonAction)="onNeedHelpHandler()"
      [tabIndex]="43"
      id="need-help"
    >
    </rhinov-menu-action-button>
    <rhinov-menu-action-button
      class="action-button"
      [iconPath]="'/assets/icons/symbols-icons-16-share-hover.svg'"
      [text]="'Partager mon projet '"
      (buttonAction)="onShareMyProjectHandler()"
      [tabIndex]="44"
      id="share-project"
    >
    </rhinov-menu-action-button>
    <rhinov-menu-action-button
      class="action-button"
      *ngIf="isProjectOwner$ | async"
      [iconPath]="'/assets/icons/icn-plus.svg'"
      [text]="'Faire évoluer mon projet'"
      (buttonAction)="onAskForEvolutionsHandler()"
      [tabIndex]="45"
      id="ask-for-evolution"
    >
    </rhinov-menu-action-button>
  </div>
  <p class="info" id="footer">
    Besoin d’aide ? Contactez notre service client au
    <a href="tel:0972639020" class="phone-number">09.72.63.90.20</a> du lundi au vendredi de 9h à
    18h30 et le samedi de 9h à 12h30 et de 14h à 17h30
  </p>
</div>
