.burger-menu {
  position: absolute;
  background-color: #dec6a4;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.info {
  font-family: fabrikat-regular;
  font-size: 15px;
  line-height: 18px;
  position: absolute;
  bottom: 0;
  color: #3d3c40;
  margin-bottom: 30px;
}

.phone-number {
  text-decoration: underline;
  font-family: fabrikat-bold;
  bottom: 0;
  color: #3d3c40;
  font-size: 15px;
  line-height: 18px;
}

.action-button:focus:not(:focus-visible) {
  outline: none;
}
