<div fxLayout="row" fxFlex class="top-bar {{ pageType$ | async }}">
  <div fxFlex>
    <div *ngIf="(userAccess$ | async) === 'owner'">
      <div
        class="burger-button-div mouse-cursor"
        (click)="onBurgerButtonClick()"
        *ngIf="(pageType$ | async) === 'home'"
      >
        <img
          id="burger-button-icon"
          class="burger-button-icon"
          src="./assets/icons/top-bar/symbols-icons-16-burgermenu.png"
        />
      </div>
    </div>
    <div
      class="close-button-div mouse-cursor"
      (click)="onBack()"
      *ngIf="(pageType$ | async) === 'menu'"
    >
      <img id="close-button-icon" class="close-button-icon" src="./assets/icons/icon-close.svg" />
    </div>
    <div
      class="back-button-div mouse-cursor"
      (click)="onBack()"
      *ngIf="(pageType$ | async) === 'sub-menu'"
    >
      <img id="back-button-icon" class="back-button-icon" src="./assets/icons/icon-back.svg" />
    </div>
  </div>
  <div fxFlex class="center-column">
    <img id="logo" src="./assets/icons/top-bar/Logo-Rhinov-text.svg" class="logo" />
  </div>
  <div fxFlex>
    <div class="right-block" fxLayout="row" fxLayoutAlign="end center">
      <img
        id="share-icon"
        class="mouse-cursor share-icon"
        src="./assets/icons/top-bar/symbols-icons-16-share-hover.svg"
        (click)="onShareButtonClick()"
        gaEvent="click"
        gaCategory="navigation"
        gaLabel="Inbox click"
      />
      <img
        id="phone-icon"
        *ngIf="(userAccess$ | async) === 'owner'"
        class="mouse-cursor call-icon"
        src="./assets/icons/top-bar/phone-icon.svg"
        (click)="onPhoneButtonClick()"
      />
      <div class="mouse-cursor user-widget" id="rhinov-userwidget"></div>
    </div>
  </div>
</div>
