@import 'libs/shared/styles/src/lib/colors';
@import 'libs/shared/styles/src/lib/fonts';

.top-bar.menu,
.top-bar.sub-menu {
  background-color: #dec6a4;
}

.mouse-cursor:hover {
  cursor: pointer;
}

.burger-button-div {
  border-radius: 50%;
  background-color: #dec6a4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 28px;
}

.close-button-div {
  background-color: #dec6a4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-top: 22px;
  margin-bottom: 14px;
  margin-left: 58px;
}

.back-button-div {
  background-color: #dec6a4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-left: 55px;
  margin-top: 18px;
}

.burger-button-icon {
  width: 24px;
  height: 24px;
}

.back-button-icon {
  width: 38px;
  height: 38px;
}

.close-button-icon {
  width: 32px;
  height: 32px;
}

.favourite-icon {
  display: inline-block;
  width: 27px;
  height: 25px;
  margin-right: 36px;
}

.share-icon {
  width: 28.12px;
  height: 26.26px;
  margin-top: 24px;
  margin-bottom: 20px;
  margin-right: 36px;
  padding-top: 3.74px;
  padding-left: 1.88px;
}

.call-icon {
  margin-right: 38px;
  padding: 1px 0px 0px;
  width: 29px;
  height: 29px;
}

.top-bar {
  padding-right: 23px;
  height: 74px;
  z-index: 2;

  width: 100%;
}

.user-widget {
  display: inline-block;
  height: 42px;
}

.center-column {
  place-content: center;
  display: flex;
}

.logo {
  height: 30px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.right-block {
  height: 100%;
}
